.App {
  background-color: cadetblue;
  width: auto;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 0;
  justify-items: stretch;
  background-color: rgb(59, 138, 228);
}
.nav{
  text-align:right;
  font-size: large;
  color: black;
  justify-content:space-between;
  padding: 15px;
  background-color:rgb(102, 105, 110);
  width: 100%;
}
.atag {
  padding: 1px;
  font-size: 1em;
  color: aliceblue;
  display:inline-block;
  background-color: rgb(61, 64, 70);
  border-radius: 0.35em;
  margin-left: 0.5em;
}

.footer {
  text-align:center;
  display: flex;
  font-size: large;
  color: white;
  justify-content:center;
  background-color:rgb(102, 105, 110);
  width: 100%;
  height: 2.5em;
  position:absolute;
  bottom: 0;
}






